@use '../../sass/Variables' as *;

.experience {
  margin: 0 auto 20px;
  position: relative;
  span.intro-title {
    color: $main-color;
  }

  .mini-edit-btn,
  .mini-delete-btn {
    font-size: 1rem;
    cursor: pointer;
    margin: 1px auto;
    max-width: 100px;
    background-color: #404040;
    opacity: 0;
  }
  .add-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    opacity: 0;
    font-size: 2rem;
    background-color: #000;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 50%;
    &:hover {
      transition: all 0.3s ease-in-out;
      background-color: violet;
    }
  }
  &:hover {
    .add-btn {
      opacity: 1;
    }
  }

  .programming-exp {
    &:hover {
      .mini-edit-btn,
      .mini-delete-btn {
        opacity: 1;
      }
    }
  }

  .mini-edit-btn,
  .edit-btn {
    color: violet;
  }

  .mini-delete-btn,
  .delete-btn {
    color: crimson;
  }
  .card {
    height: 200px;
    overflow: hidden;
    .img-container {
      width: 100%;
      height: auto;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;

        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
      }
    }
    .text {
      transition: all 0.5s ease-in-out;
      position: absolute;
      bottom: -200px;
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      padding: 5px;
      word-spacing: 8px;
      letter-spacing: 1px;
      line-height: 1.6;
    }
    &:hover {
      .text {
        bottom: 2px;
        background-color: #000;
      }
      img {
        transform: translate(0, -30px);
      }
    }
  }
}
