.experience-form {
  margin: 15px 0;
  .image-container {
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
    .delete-btn {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
